<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_connect_voiceml"
              name="VoiceML"
              parent="connect.menu_connect_root"
              sequence="50"/>

    <menuitem id="menu_voiceml_messages"
              name="Messages"
              parent="menu_connect_voiceml"
              sequence="70"/>

    <menuitem id="menu_voiceml_messages_list"
              name="Messages"
              parent="menu_voiceml_messages"
              action="connect.action_connect_message"
              sequence="10"/>

    <menuitem id="menu_voiceml_config"
              name="Configuration"
              parent="menu_connect_voiceml"
              groups="connect.group_admin"
              sequence="100"/>
</odoo>
